body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 7px;
    max-width: 450px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
